<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.cjm.application1"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.write_external_storage"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".PingPong.Menu"
            android:icon="@android:drawable/btn_star"
            android:label="@string/title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PingPong.RunMovingBall"
            android:label="@string/title"
            >
            <intent-filter>
                <action android:name="android.intent.action.run"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PingPong.Instructions"
            android:label="@string/instructions"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.menu"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PingPong.Settings"
            android:label="@string/settings"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.menu"/>
                <category android:name="android.intent.category.default"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
